* {
    margin: 0;
    font-family: sans-serif;
}

.header {
    width: 90%;
    margin: auto;
    display: flex;
    height: 40;
    background-color: rgba(128, 128, 128, 0.4);
    padding: 10px;
    justify-content: space-around;
    margin-top: 20px;
    border-radius: 10px;
}

.logo {}

.devtext {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 20px;
}

.devtext button {
    padding: 10px;
    border: none;
    background-color: #35AFBF;
    font-size: 20px;
    border-radius: 10px;
}

.button {
    padding: 10px;
    border: none;
    background-color: #35AFBF;
    font-size: 20px;
    border-radius: 10px;
    margin-left: ;
}

.head2 {
    margin-left: 150px;
    margin-top: 20px;
    display: flex;
    gap: 50px;
}

.divtext2 {
    width: 40%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divtext2 span {
    color: #35AFBF;
}

.divtext2 h1 {
    font-size: 50px;
    padding: 10px;
}

.divtext2 p {
    font-size: 20px;
    padding: 10px;
}

.right {
    /* width: 60%; */
    /* background-color: blue;git */
    position: relative;
}

.woman {
    width: 600px;
    position: absolute;
    margin-top: 43px;
    margin-left: 10px;
    /* margin-top: 100px; */
    /* margin-left: 100px; */
}

.h {
    width: 500px;
    margin-top: 50px;
    margin-left: 50px;
}

.img1 {
    width: 40px;
    position: absolute;
    bottom: 420px;
    left: 10px;
}

.img2 {
    position: absolute;
    bottom: 400px;
    left: 530px;
}

.img3 {
    position: absolute;
    top: 450px;
}

.img4 {
    position: absolute;
    top: 450px;
    left: 530px;
}