* {
    margin: 0;
    font-family: sans-serif;
}

.header {
    width: 90%;
    margin: auto;
    display: flex;
    height: 40;
    background-color: rgba(128, 128, 128, 0.4);
    padding: 10px;
    justify-content: space-around;
    margin-top: 20px;
    border-radius: 10px;
}

.logo {}

.devtext {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 20px;
}

.devtext button {
    padding: 10px;
    border: none;
    background-color: #35AFBF;
    font-size: 20px;
    border-radius: 10px;
}

.button {
    padding: 10px;
    border: none;
    background-color: #35AFBF;
    font-size: 20px;
    border-radius: 10px;
    margin-left: ;
}

.head2 {
    margin-left: 150px;
    margin-top: 20px;
    display: flex;
    gap: 50px;
}

.divtext2 {
    width: 40%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divtext2 span {
    color: #35AFBF;
}

.divtext2 h1 {
    font-size: 50px;
    padding: 10px;
}

.divtext2 p {
    font-size: 20px;
    padding: 10px;
}

.right {
    /* width: 60%; */
    /* background-color: blue;git */
    position: relative;
}

.woman {
    width: 600px;
    position: absolute;
    margin-top: 43px;
    margin-left: 10px;
    /* margin-top: 100px; */
    /* margin-left: 100px; */
}

.h {
    width: 500px;
    margin-top: 50px;
    margin-left: 50px;
}

.img1 {
    width: 40px;
    position: absolute;
    bottom: 420px;
    left: 10px;
}

.img2 {
    position: absolute;
    bottom: 400px;
    left: 530px;
}

.img3 {
    position: absolute;
    top: 450px;
}

.img4 {
    position: absolute;
    top: 450px;
    left: 530px;
}

.head3 {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 90%;
    margin: auto;
    /* margin-top: 50px; */
    height: 350px;
    /* background-color: green; */
}

.text {
    width: 90%;
    /* background-color: red; */
    text-align: center;
    padding: 10px;
    margin: auto;
    margin-top: 80px;
}

.pp1 {
    width: 60%;
    text-align: center;
    /* background-color: blue; */
    margin: auto;
    line-height: 25px;
}

.cont1 {
    width: 250px;
    height: 270px;
    background-color: #D1F4F9;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 10px;
}

.jj {
    width: 90px;
    height: 80px;
    /* margin: auto; */
    margin-left: 70px;
    padding: 10px;
}

.cont1 h3 {
    width: 230px;
    /* background-color: blue; */
    padding: 10px;
    text-align: center;
}

.cont1 p {
    width: 230px;
    /* background-color: blue; */
    padding: 10px;
    text-align: center;
}

.cont2 {
    width: 250px;
    height: 270px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: 1px solid grey;
    border-radius: 10px;
}

.cont3 {
    width: 250px;
    height: 270px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: 1px solid grey;
    border-radius: 10px;
}

.cont4 {
    width: 250px;
    height: 270px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: 1px solid grey;
    border-radius: 10px;
}

.cont2 h3 {
    width: 230px;
    /* background-color: blue; */
    padding: 10px;
    text-align: center;
}

.cont2 p {
    width: 230px;
    /* background-color: blue; */
    padding: 10px;
    text-align: center;
}

.cont3 h3 {
    width: 230px;
    /* background-color: blue; */
    padding: 10px;
    text-align: center;
}

.cont3 p {
    width: 230px;
    /* background-color: blue; */
    padding: 10px;
    text-align: center;
}

.cont4 h3 {
    width: 230px;
    /* background-color: blue; */
    padding: 10px;
    text-align: center;
}

.cont4 p {
    width: 230px;
    /* background-color: blue; */
    padding: 10px;
    text-align: center;
}

.section3 {
    width: 100%;
    height: 500px;
    background-image: url(/1111111111111111111111111.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.section3 {
    color: white;
}

.tt {
    width: 50%;
    /* background-color: red; */
    text-align: center;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    margin: auto;
    /* margin-top: 50pd; */
}

.hh {
    margin-top: 20px;
}

.section4 {
    display: flex;
    width: 100%;
    /* margin: auto; */
    height: 400px;
    justify-content: center;
    background-image: url(/Group\ 46.png);
    gap: 30px;
}

.cont7 {
    width: 220px;
    height: 300px;
    padding: 10px;
    color: white;
    margin-top: 20px;
    /* background-color: grey; */
}

.pp9 {
    width: 100px;
    height: 20px;
    /* padding: 5px; */
    text-align: center;
    /* background-color: red; */
    font-size: 20px;
    margin-bottom: 10px;
}

.pp2 {
    width: 200px;
    /* text-align: center; */
    /* background-color: blue; */
    margin: auto;
    padding: 10px;
    line-height: 25px;
}

.cont7 button {
    width: 150px;
    /* background-color: red; */
    text-align: center;
    padding: 10px;
    margin-left: 10px;
    font-size: 15px;
    border: solid 2px white;
}

.aaa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: #2C353E;
}

.dsp {
    font-size: 20px;
    gap: 30px;
    color: white;
    padding: 10px;
    display: flex;
    /* margin-left: 100px; */
}